footer{
  position: absolute;
  background: var(--background-footer);
  right: 0;

  padding-top: 1rem;

  font-size: 1.1rem;
  line-height: 1.5rem;
  text-align: justify;
  text-justify: inter-word;
  letter-spacing: 0.01rem;

  width: 77%;
}
@media screen and (max-width: 900px){
  footer{
    width: 100%;
  }
}