:root {
  --background-page: #1f333d;
  --background-navigation: #091a2e;
  --background-bottom-active: linear-gradient(180deg, #3dc0d1 0%, #359fb9 100%) no-repeat;
  --nav: rgba(137, 194, 243, 0.3);
  --color-gradient1: rgba(234, 84, 84, 0.5);
  --color-gradient2: #1f333d;
  --background-footer: linear-gradient(180deg, #89c2f34d 0%, #4c84b44d 100%);

	--color-light: #f9f9f9;

  --fontw-letter: 200;
}
body {
  background: var(--background-page);
  
  color: var(--color-light);
  font-weight: var(--fontw-letter);

  transition: all linear 0.3s;
}
::-webkit-scrollbar {
	background: var(--nav);
	width: 0.6rem;
	height: 0.4rem;
}
::-webkit-scrollbar-track {
	border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb {
	background: linear-gradient(
		125deg,
		var(--color-gradient1),
		var(--color-gradient2)
	);
	border-radius: 0.5rem;
}
main{
  display: block;
  padding: 1rem;
  margin-left: auto;

  font-size: 1.1rem;
  line-height: 1.5rem;
  text-align: justify;
  text-justify: inter-word;
  letter-spacing: 0.01rem;

  width: 77%;
}

@media screen and (max-width: 900px){
  main{
    padding: 1rem;
    width: 100%;
  }
  
}